/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url(./vars.css);
@import url(./callout.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-size: 10px; */
  /* slope = (maxFont - minFont) / (maxWidth - minWidth) */
  /* preferred = yAxisIntersection + (slope*100)[vw] */
  /* see https://fluid.style */
  /* values used are 8px-400px(width)-10px-1600px */
  font-size: clamp(9px, 8.767px + 0.058vw, 9.5px);
  /* font-size: 10px; */
  --text: var(--text-soft);
  width: 100%;
  /* do not scroll off to the side */
}

body {
  /* font-family: "Spectral", sans-serif; */
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--background);
  /* background: linear-gradient(var(--gray-gradient)) no-repeat; */
  /* background-size: 100% 600px; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 2rem;
  color: var(--text-soft);
  line-height: 1.6;
}

main {
  width: 1000px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  @media screen and (max-width: 500px) {
    max-width: calc(100% - 1.1rem);
  }
}
article > * {
  margin-bottom: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.6rem 0;
  /* color: rgb(var(--black)); */
  line-height: 1.2;
  /* font-family: "Spectral", monospace; */
  font-weight: 400;
  color: var(--text-muted);
}
h1 {
  font-size: 6rem;
  color: var(--accent-600);
}
h2 {
  font-size: 1.9em;
  color: var(--accent-700);
}
h3 {
  font-size: 1.553em;
  color: var(--text-soft);
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent-700);
  text-decoration: underline;
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  /* background-color: var(--background-soft); */
  background: transparent !important;
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
  /* font-size: 0.8em; */
  margin: 1em 0;
  /* background: var(--background-code) !important; */
  /* border: 1px solid var(--text-muted); */
}
.expressive-code {
  --ec-uiFontSize: 1.6rem;
  --ec-codeFontSize: 1.7rem;
  .copy button {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 0.6rem !important;
    padding: 7px !important;
  }
}
pre > code {
  all: unset;
}
blockquote:not(.callout) {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
  /* font-size: 1.333em; */
}
blockquote.callout {
  display: flex;
  flex-direction: column;
  /* streetch elements */
  justify-content: stretch;
  padding: 0;
  &,
  & > * {
    border-radius: 10px;
  }
  * {
    padding: 0;
    margin: 0;
  }
  border: 2px solid var(--text-muted);
  color: rgb(203, 203, 203);
  &.note {
    .callout-title {
      background-color: rgb(24, 65, 101);
    }
  }
  &.tip {
    .callout-title {
      background-color: rgb(8, 101, 8);
    }
  }
  &.warning {
    .callout-title {
      background-color: rgb(104, 15, 32);
    }
  }
  &.info {
    .callout-title {
      background-color: rgb(89, 96, 23);
    }
  }
  &.success {
    .callout-title {
      background-color: rgb(13, 84, 22);
    }
  }
  .callout-content {
    padding: 1.4rem;
  }
  .callout-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: 1.2rem;
    background: var(--background-code);
  }
  .callout-icon {
    svg {
      width: 2.5rem;
      height: 3rem;
    }
  }
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

table {
  margin: 2em 0;
}

.hidden {
  display: none;
}
button {
  &:hover {
    cursor: pointer;
  }
}
