---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      /** Text Gradient Example */
      .name-heading {
        font-size: 6rem;
        color: #008080;
        background-image: linear-gradient(
          45deg,
          var(--syntax-keyword) 20%,

          var(--syntax-function) 93%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      main {
        font-family: "Fira Mono", monospace;
        color: var(--text);
      }
      body {
        /* background-image: url(./lot-of-trees.svg); */
        background-size: 200%;
        background-repeat: no-repeat;
        background-position-y: 0vh;
        min-height: 100vh;
      }
      p {
        margin-top: 1rem;
      }

      .shaded-box {
        position: relative;
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(172, 65, 65, 0.1);
        overflow: hidden;
      }

      .shaded-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.1) 25%,
          transparent 25%,
          transparent 50%,
          rgba(0, 0, 0, 0.1) 50%,
          rgba(0, 0, 0, 0.1) 75%,
          transparent 75%,
          transparent
        );
        background-size: 20px 20px;
        pointer-events: none;
      }
      h2 {
        font-family: "Spectral";
      }
      .animate-pulse {
        animation: pulse 2s infinite;
      }
      @keyframes pulse {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
      ul.list {
        position: relative;
        li,
        p {
          padding-left: 20px;
        }
        li {
          font-size: 2.5rem;
        }
        p {
          color: var(--text-soft);
        }
        li::before {
          content: "$";
          display: block;
          color: var(--accent);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .markdown-prefix {
        color: var(--accent);
        margin-right: 0.5rem;
        font-weight: normal;
      }
      h3 {
        font-size: 2.3rem;
        opacity: 0.85;
      }
      section {
        margin: 0;
        padding: 3rem 0;
        &:first-child {
          margin-top: 3.2rem;
        }
        border-top: 1px dotted var(--accent-200);
        border-top-style: dotted;
        border-top-width: 1px;
        border-image: repeating-linear-gradient(
            to right,
            var(--accent-200) 0 8px,
            transparent 8px 14px
          )
          100% 1;
      }
      .dotted-separator {
        border: none;
        border-top: 1px dotted var(--accent-200, #008080);
        margin: 4rem 0;
        height: 0;
        /* Increase gap between dots */
        border-top-style: dotted;
        border-top-width: 1px;
        border-top-color: var(--accent-200, #008080);
        border-image: repeating-linear-gradient(
            to right,
            var(--accent-400, #008080) 0 8px,
            transparent 8px 14px
          )
          100% 1;
      }
    </style>
  </head>
  <body>
    <!-- oak tree, benzene -->
    <Header />
    <main>
      <div
        style="display: flex; align-items: flex-end;"
        class="h-40 inline-block mb-2 bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-green-400 tracking-tight"
      >
        <!-- <img
          id="notesvg"
          src="./8thNote.svg"
          class="size-14 xl:size-20 inline-block"
          alt="8th Note"
        /> -->
        <h2 class="name-heading inline-block">Hi, I am Akshat Oke.</h2>
      </div>

      <p style="font-family: 'Fira Mono';">
        <span class="inline-block animate-pulse">&gt;</span>
        I explore compilers and the web of ideas.
      </p>
      <p style="color: var(--syntax-function)">
        <i class="fa-solid fa-location-dot"></i>Joining Georgia Tech in Fall
        2025.
      </p>
      <p>
        I play the piano (regularly) and badminton (not so regularly anymore).
        <br />
        <!-- Used to write stories on Wattpad. -->
      </p>
      <!-- <h4 class="inline-block">Life Events</h4> -->
      <section>
        <h3 class="inline-block"><span class="markdown-prefix">#</span>Log</h3>
        <ul class="list">
          <li>
            <a href="./blog/iit-placid-2025" target="_blank">PLACID 2025</a>
          </li>
          <p>
            29th March, 2025<br />

            I presented as an AMD delegate at <a
              href="https://www.cse.iitb.ac.in/~plato/PLACID/index.html"
              >PLACID 2025, held at IIT Bombay!</a
            > I am writing an account of this experience here.
          </p>
        </ul>
      </section>
      <section>
        <h3 class="inline-block">
          <span class="markdown-prefix">#</span>Projects
        </h3>
        <p>
          Till I enumerate some of my projects here, take a look at my <a
            href="https://github.com/optimisan"
            target="_blank">GitHub</a
          >.
        </p>
      </section>
      <h3 class="inline-block">
        <span class="markdown-prefix">#</span>Experience
      </h3>
      <ExperienceCard
        company="AMD"
        duration="July 2024 - July 2025"
        description="Worked in the AMDGPU Compiler team on the LLVM pass manager."
        current={false}
      />
      <ExperienceCard
        company="BITS Pilani, Hyderabad Campus"
        role="Bachelor of Computer Science, Gold Medalist"
        duration="2020-2024"
        description="My undergraduate is from BITS Hyderabad, where I was awarded the gold medal for being the class topper. My CGPA was 9.75. I did a minor in Data Science too."
      />
    </main>
    <!-- <Footer /> -->
  </body>
</html>

<script></script>
